<div class="flex justify-center items-center h-screen bg-gray-700">
  <div class="p-10 bg-white text-black">
    <div class="flex justify-center mb-5">
      <img src="assets/images/logos/1simple1.png" class="w-auto" alt="Logo Microsoft">
    </div>
    <h1>Réinitialisez votre mot de passe</h1>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="grid mb-6">
        <label for="email" class="mb-2">Email</label>
        <input id="email" type="email" required placeholder="Entrez votre email..." class="customInput" formControlName="email">

        <div *ngIf="forgotPasswordForm.invalid && (forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched)">
          <mat-error *ngIf="forgotPasswordForm.controls['email'].errors?.['required']">
            L'email est obligatoire !
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.controls['email'].errors?.['pattern']">
            Veuillez entrer le bon format de l'email !
          </mat-error>
        </div>
      </div>

      <div class="grid mb-10">
        <button type="submit" [disabled]="forgotPasswordForm.invalid" class="customInput onHoverButton">
            Envoyer
        </button>
      </div>
    </form>
  </div>
</div>
